.DS_Store

# Ignore .NET build output
**/bin/
**/obj/

# IDE-specific folders (common)
.vs/
.idea/

# Binary distribution packages
AWSS3PreSignedUploader/ODCPortal/20251006_AWSS3PreSignedUploader_linux-x64.zip
AWSS3PreSignedUploader/ODCPortal/20251008_AWSS3PreSignedUploader_linux-x64.zip
AWSS3PreSignedUploader/ODCPortal/AWSS3PreSignedUploader_linux-x64.zip
ODCPortal/20251006_AWSS3PreSignedUploader_linux-x64.zip
ODCPortal/20251008_AWSS3PreSignedUploader_linux-x64.zip
ODCPortal/AWSS3PreSignedUploader_linux-x64.zip
ODCPortal/20251009_Version1.0_submitted_AWSS3PreSignedUploader_linux-x64.zip
AWSS3PreSignedUploader/.github/copilot-instructions.md
ODCPortal/20251011_version.1.AWSS3PreSignedUploader_linux-x64.zip
ODCPortal/20251012_version.1.1.2.AWSS3PreSignedUploader_linux-x64.zip
ODCPortal/20251011_version.1.1.AWSS3PreSignedUploader_linux-x64.zip
AWSS3PreSignedUploader/AWSS3PreSignedUploader/AWSS3PreSignedUploader.zip
